<!DOCTYPE html>
<html>
<head>
    <title>View Patient Report</title>
</head>
<body>
    <h1>View Patient Report</h1>
    <p>Report ID: {{report._id}}</p>
    <p><strong>Patient Name:</strong> {{patient.name}}</p>
    <p><strong>Patient Email:</strong> {{patient.email}}</p>
    <!-- Additional details as needed -->
    <p>Reort Text: {{report.reportText}}</p>
    
    <a href="/patients/{{patient._id}}">Back to Patient Options</a>
</body>
</html>
